.main-content {
    width: 100%;
    height: calc(100vh - 70px);
    display: flex;
    @media (max-width:991px) {
     & {
        display: block;
        height: auto;
     } 
    }
}

.go-to-top__wrapper {
    position: fixed;
    bottom: 100px;
    right: -1px;
    transform: translateX(100%);
    transition: 0.2s all ease-in-out;
    &.show {
        transform: translateX(0%);
        transition: 0.2s all ease-in-out;
    }
}

.go-to-top__wrapper button {
    width: 45px;
    height: 45px;
    border: 0;
    background: var(--secondary-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
}

.go-to-top__wrapper button svg {
    width: 20px;
    height: 20px;
}