
.settings-popup-inner {

    .settings__item  {
        label {
            display: block;
        }
        input {
            width: 100%;
        }
        &:not(:last-child):not(:only-child) {
            margin-bottom: 15px;
        }
        
        & > label {
            font-weight: bold;
        }

        .form__field-checkbox {
            margin-top: 15px;
            label {
                font-size: 14px;
            }
        }
    }

}